<template>
  <div>
    <navbar></navbar>
    <section class="container">
      <div class="column is-12">
        <div class="box content">
          <article class="post" v-for="post in posts" :key="post.id">
            <h4>{{ post.title }}</h4>
            <div class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    @{{ post.user }} replied  {{ post.time_ago }} &nbsp;
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><font-awesome-icon :icon="['fas', 'star']"/> {{ post.comments_count }}</span>
                <span class="has-text-grey-light"><font-awesome-icon :icon="['fas', 'comments']"/> {{ post.comments_count }}</span>
                <a target="_blank" :href="post.url"><font-awesome-icon :icon="['fas', 'external-link-alt']"/> {{ post.domain }}</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar';

const API_URL = "https://api.hnpwa.com/v0/news/1.json"

/**
 * Components
 *
 * @type {{Navbar}}
 */
let components = {
  Navbar
}

/**
 * Mounted
 */
let mounted = function  () {
    this.getPostsAll()
      .then(response => this.posts = response)
      .catch(err => console.log('err =', err))
}

let data = function () {
  return {
      posts: []
  }
}

/**
 *
 */
let methods = {
    async getPostsAll () {
        let response = await fetch(API_URL)

        return response.json()
    }
}

/**
 *
 * @type {{formatDate: ((value))}}
 */
let filters = {
    formatDate: function (value) {
        let date  = new Date (value * 1000)

        return `${date.getDate()}/${date.getDay()}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`
    }
}

export default {
  components,
  mounted,
  data,
  methods,
  filters
}
</script>

<style>
  /**
    Container
   */
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content h4 {
    margin-bottom: 0.4em;
  }

  /**
    Post
   */
  .post {
    margin-bottom: 10px;
  }

  /**
    Media-Content
   */
  .media-content {
    margin-left: 8px;
  }
</style>

